/*
  Author: ✰ Konstantin Aleksandrov ✰ https://github.com/koalex

  File Structure :
    1.  Name
    	1.1. Sub-name
*/

/************************
  1. Name
************************/


/* 1.1  Sub-name */

main-green     = #4ccfc1 // nav-bg
main-green-1   = #40bfb2 // slider-bg
main-green-2   = #2da89b // footer-bg
main-green-3   = #3cc395 // card-in
main-green-4   = #3cc3b5 // title
main-green-5   = #41c0b0 // featured

slider-caption = 'Bebas Neue'
sleder-text    = 'Open Sans'
